html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
  }

  body>#content {
    padding: 0px 20px 20px 20px !important;
  }
}

body>#content {
  margin: 0px;
  max-width: 900px;
  border: 1px solid #e1e4e8;
  padding: 10px 40px;
  padding-bottom: 20px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

/**
 * Links
 */
a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  color: #0366d6;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

/**
  * Code blocks
  */

code {
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  word-wrap: break-word;
  padding: .2em .4em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

pre>code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}


/**
 * Blockquotes
 */
blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}

/**
 * Tables
 */
table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/**
 * Others
 */

img {
  max-width: 100%;
}

p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #24292e;
}

ul {
  margin-top: 0;
}

li {
  color: #24292e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

li+li {
  margin-top: 0.25em;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e;
}

a:visited {
  color: #0366d6;
}

h1,
h2,
h3 {
  border-bottom: 1px solid #eaecef;
  color: #24292f;
  /* Darker */
}

/* -- page tabs styles -- */
.tabs ul~br,
.tabs ul~.tab .tab-name {
  display: none;
}

.tabs ul {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  margin: 0 0 20px;
  padding: 0;
}

.tabs ul li {
  display: block;
  float: left;
  height: 30px;
  margin-bottom: 0;
  margin: 0rem 2.5rem 0rem 0rem;
  padding: 0;
  width: auto;
}

.tabs ul li a {
  display: block;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  width: auto;
}

.tabs ul li a.active {
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 6px;
}

.tabs ul li:first-child a.active {
  margin-left: 0;
}

.tabs:before ul,
.tabs:after ul {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.tabs:after ul {
  clear: both;
}

/* Highlight js code */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f6f8fa;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

#simple-css-changes+p {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: rgba(245, 247, 249, 1.00);
  padding: 5px;
  z-index: 10;
}

/* CSS - Scroll to top button */
.btn--scroll-top {
  --btn-bg: #24292e;
  --btn-text: #FFFFFF;
  --btn-bg-hover: #24292e;
  --btn-text-hover: #FFFFFF;
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.btn--scroll-top:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: currentcolor;
  margin: 0;
  vertical-align: middle;
  transform: rotate(135deg);
  transform-origin: 50% 50%;
  transition: all 0.3s;
}

.btn--scroll-top.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0s;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin: 0;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1em;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  transition: background-color .5s cubic-bezier(.215, .61, .355, 1);
}

/* end */

/* ClipboardButton */
.ClipboardButton {
  padding: 0.8rem 1rem;
}

.content:hover .clipboard-container {
  display: block;
  animation: fade-in 200ms both;
}

.content .clipboard-container {
  display: none;
  animation: fade-out 200ms both;
}

@keyframes tooltip-appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
  display: inline-block;
  text-decoration: none;
  animation-name: tooltip-appear;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: .4s;
}

.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 0.5em 0.75em;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(data-copy-feedback);
  background: #fff;
  border-radius: 6px;
  right: 100%;
  bottom: 50%;
  margin-right: 6px;
  transform: translateY(50%);
  opacity: 0;
}
/* end */